<div class="d-flex m-3">
  <div>
    <%= link_to "Back", cars_path, class: "btn btn-secondary"%>
  </div>
  <h1 class="mx-3">My profile</h1>
</div>


<div class="mx-3">
  Current user : <%= current_user.email %>
  <%= current_user.address %>
  <%= current_user.user_name %>
</div>


<div class="row mt-3">

  <div class="col-6 border border-primary">
    <div class="mx-3 p-3">
      <h3> My Reservations</h3>
      <% if current_user.rentals.any? %>
        <% current_user.rentals.each do |rental|%>
          <div>
            <strong><%= rental.car.model %></strong>
          </div>
          Pick up date : <%= rental.pickup_date %>
          Return date : <%= rental.delivered_date %>
          <div class="d-flex justify-content-end">
            <%= link_to "Cancel",
            rental_path(rental),
            data: {turbo_method: :delete, turbo_confirm: "No refund !"},
            class: "btn btn-danger"
            %>
          </div>
        <% end %>
      <% else %>
        <p><small>You do not have any car booked currently.</small></p>
      <% end %>
    </div>
  </div>


  <div class="col-6 border border-primary">
    <div class="mx-3 p-3">
      <h3>My Cars</h3>
      <% current_user.cars.each do |car|%>
        <div class="">
          <%= car.model %>
          <div class="d-flex justify-content-end">
            <%= link_to 'Edit', edit_car_path(car), class: "btn btn-warning" %>
            <%= link_to "Delete",
            car_path(car),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
            class: "btn btn-danger"
            %>
          </div>
        </div>
     <% end %>
    </div>
  </div>
</div>

<div class="border border-primary">
  <div class="m-3 ">
    <h3>My Cars Rented :</h3>
  </div>
  <div class="mx-3">
    <% current_user.cars.each do |car|%>
      <div>
        <p><strong><%= car.model %></strong></p>
      </div>
      <% if car.rentals.any? %>
        <% car.rentals.each do |rental| %>
        <div class="mb-2">
          <li>
            Pick-up date : <%= rental.pickup_date %>,
            Return date : <%= rental.delivered_date %>
            <div>Rented by : <%= rental.user.email %></div>
          </li>
        </div>
        <% end %>
      <% else %>
        <p><small>No current rental for this car.</small></p>
      <% end %>
    <% end %>
  </div>
</div>
