<div class="bg-black">


  <div class="d-flex mb-3 pt-3">
    <%= link_to cars_path, class: "btn btn-ghost text-white" do %>
      <i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff;"></i>
    <% end %>


    <h1 class="mx-3 text-white">My profile</h1>
  </div>


  <div class="mx-3 pb-3 text-white">
    Current user : <%= current_user.email %>
    <%= current_user.address %>
    <%= current_user.user_name %>
  </div>
</div>

<div class="container-fluid">
<div class="row mt-3">
  <div class="col-6">
    <div class="card bg-white">

      <div class="m-3 p-3">
        <h2 class="mb-3 pb-3">My Reservations</h2>
        <% if current_user.rentals.any? %>
          <% current_user.rentals.each do |rental| %>
            <div class="mb-3">
              <strong><%= rental.car.model %></strong>
            </div>

            <!-- Date section with button aligned to the right -->
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div>
                <p>Pick up date: <%= rental.pickup_date %></p>
                <p>Return date: <%= rental.delivered_date %></p>
              </div>
              <!-- Cancel button aligned to the right -->
              <div>
                <%= link_to "Cancel",
                rental_path(rental),
                data: { turbo_method: :delete, turbo_confirm: "No refund!" },
                class: "btn btn-danger"
                %>
              </div>
            </div>

          <% end %>
        <% else %>
          <p><small>You do not have any car booked currently.</small></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card bg-white">

    <div class="m-3 p-3">
      <h2>My Cars Rented :</h2>
    </div>
    <div class="mx-3 px-3">
      <% current_user.cars.each do |car|%>
        <div>
          <p><strong><%= car.model %></strong></p>
        </div>
        <% if car.rentals.any? %>
          <% car.rentals.each do |rental| %>
          <div class="mb-2">
            <li>
              Pick-up date : <%= rental.pickup_date %>,
              Return date : <%= rental.delivered_date %>
              <div>Rented by : <%= rental.user.email %></div>
            </li>
          </div>
          <% end %>
        <% else %>
          <p><small>No current rental for this car.</small></p>
        <% end %>
      <% end %>
    </div>
  </div>
    </div>
</div>
</div>

<div class="container-fluid">
  <h2 class="mt-5 mx-3 pt-3 text-center"><strong>My Cars</strong></h2>
  <div class="row p-3">
    <% current_user.cars.each do |car|%>
      <div class="col-6 mb-3">
        <div class="card bg-white">
          <div class="row m-3">
            <div class="col-6">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h4 class="text-center mb-2"><strong>Car informations :</strong></h4>
                  <p><i class="fa-solid fa-car-side"></i> <%= car.model %></p>
                  <p><i class="fa-regular fa-calendar-days"></i> <%= car.year %></p>
                  <p><i class="fa-solid fa-palette"></i> <%= car.color %></p>
                  <p><i class="fa-solid fa-layer-group"></i> <%= car.category %></p>
                  <p><i class="fa-solid fa-location-dot"></i> <%= car.location %></p>
                  <p><i class="fa-solid fa-gas-pump"></i> <%= car.fuel %></p>
                  <p><i class="fa-solid fa-person"></i> <%= car.number_of_seats %> seats </p>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column col-6">
              <%= cl_image_tag car.picture.key, width: 200, height: 150, crop: :fill, class: "card-img-top border" %>
              <p class="my-4"><strong>Description of your car : </strong><%= car.description %></p>
              <div class=" d-flex flex-column mt-auto">
                <%= link_to 'Edit your car', edit_car_path(car), class: "btn btn-warning mb-2 rounded-5" %>
                <%= link_to "Remove from our website",
                car_path(car),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class: "btn btn-danger rounded-5"
                %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
