<h1 class="m-3">My profile</h1>

<div class="m-3">
  Current user : <%= current_user.email %>
  <%= current_user.address %>
  <%= current_user.user_name %>
</div>


<div class="row">

<div class="col-6">
  <div class="mx-3">
  <h3> My Rentals</h3>
  <% current_user.rentals.each do |rental|%>
  <div class="">
  <%= rental.car.model %>
    <div>
      Pick up date : <%= rental.pickup_date %>
    </div>
    <div>
      Delivered date : <%= rental.delivered_date %>
    </div>
    <div>
      <%= link_to "Cancel",
        rental_path(rental),
        data: {turbo_method: :delete, turbo_confirm: "No refund permited"},
        class: "btn btn-danger"
      %>
    </div>
  </div>
<% end %>
</div>
  </div>

<div class="col-6">
  <div class="mx-3">
  <h3>My Cars</h3>
  <% current_user.cars.each do |car|%>
    <div class="">
      <%= car.model %>
      <%= link_to 'Edit', edit_car_path(car), class: "btn btn-warning" %>
      <%= link_to "Delete",
        car_path(car),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "btn btn-danger"
      %>

    </div>
  <% end %>
</div>
</div>
</div>

<%= link_to "Back", cars_path, class: "btn btn-secondary m-3"%>
