<h1>Your Reservation</h1>
<%= simple_form_for([@car, @rental]) do |f| %>
  <%# <%= f.input :pickup_date %>
  <%#= f.input :delivered_date %>

  <%= f.input :pickup_date, as: :string, input_html: { data: { controller: "datepicker"} } %>
  <%= f.input :delivered_date, as: :string, input_html: { data: { controller: "datepicker"} } %>

  <p>Total price: <%= @car.price_day %></p>

  <%= f.submit "Create a rental" %>

  <div class="mt-3">
    <%= link_to "Back to Cars List", cars_path, class: "btn btn-secondary" %>
  </div>
<% end %>
