<div class="mt-3">
  <%= link_to cars_path, class: "btn btn-ghost" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>

<h1>Create a Reservation</h1>
<div data-controller = "calculator">

<%= simple_form_for([@car, @rental], data: { unavailable_dates: @car.unavailable_dates.to_json }) do |f| %>

  <%= f.input :pickup_date, as: :string, input_html: { data: { calculator_target: 'startDate', controller: "datepicker", action: "change->calculator#updateTotalPrice" } } %>
  <%= f.input :delivered_date, as: :string, input_html: { data: { calculator_target: 'endDate', controller: "datepicker", action: "change->calculator#updateTotalPrice" } } %>

  <p>Price per day: <span data-calculator-target="pricePerDay"><%= @car.price_day %></span></p>

  <p>Total price: <span data-calculator-target="totalprice">0</span></p>


  <%= f.submit "Create a rental", class:"btn btn-primary"%>
<% end %>
</div>
