<h1>Edit page</h1>

<%= simple_form_for(@car) do |f| %>
  <%= f.input :model %>
  <%= f.input :year %>
  <%= f.input :category %>
  <%= f.input :location %>
  <%= f.input :quality %>
  <%= f.input :color %>
  <%= f.input :rating %>
  <%= f.input :picture %>
  <%= f.submit %>
<% end %>
