<div class="top">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="m-2">
              <strong>Hello, <%= current_user.email %>!</strong>
            </li>
            <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My profile", user_path(current_user), class: 'btn btn-ghost' %>
                <%= link_to 'Add New Car', new_car_path, class: 'btn btn-ghost' %>
                <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>

  <h1 class="title-index m-3 p-3">Drive the car of your dreams</h1>
<div class="container-fluid">
  <div class="row py-3">
    <% @cars.each do |car| %>
    <div class="col-3">
      <div class="card card-yellow p-3 mb-2">
        <%= cl_image_tag car.picture.key, width: 400, height: 300, crop: :fill, class: "card-img-top border" %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to car.model, car_path(car), class: "text-decoration-none" %></h5>
          <p class="card-text"><i class="fa-solid fa-dollar-sign"></i> <%= car.price_day %></p>
          <p class="card-text"><i class="fa-solid fa-person"></i> <%= car.number_of_seats %></p>
          <p class="card-text"><%= car.description %></p>
          <h5><%= link_to "Book it now !", car_path(car), class: "text-decoration-none btn btn-success" %></h5>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
