<div class="container mt-5">
  <h1 class="mb-3"><strong><%= @car.model %></strong></h1>

  <div class="row">
    <div class="col-md-8">
      <% if @car.picture.attached? %>
        <div class="mb-3 h-100">
          <%= image_tag @car.picture, class: "img-fluid rounded w-100 h-100 shadow-sm" %>
        </div>
      <% end %>
    </div>

  <div class="col-md-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h3 class="text-center"><strong>Details</strong></h3>
      <p><strong>Model:</strong> <%= @car.model %></p>
      <p><strong>Year:</strong> <%= @car.year %></p>
      <p><strong>Color:</strong> <%= @car.color %></p>
      <p><strong>Category:</strong> <%= @car.category %></p>
      <p><strong>Location:</strong> <%= @car.location %></p>
      <p><strong>Owner:</strong> <%= @car.user.email %></p>
      <p><strong>Fuel:</strong> <%= @car.fuel %></p>
      <p><strong>Number of Seats:</strong> <%= @car.number_of_seats %></p>
      <p><strong>Description:</strong> <%= @car.description %></p>
    </div>
  </div>
</div>

  <div class="row mt-3">
    <div class="col-md-8 text-center">
      <h3 class="text-center"><strong>Price / day</strong></h3>
      <p>R$<%= @car.price_day %></p>
    </div>

    <div class="col-md-4">
      <%= link_to 'Make a reservation', new_car_rental_path(@car.id), class: "btn btn-primary btn-lg" %>
    </div>
  </div>

  <div class="mt-5">
    <%= link_to 'Edit', edit_car_path(@car), class: "btn btn-warning" %>
    <%= link_to 'Back to list', cars_path, class: "btn btn-primary" %>
    <%= link_to "Delete",
      car_path(@car),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "btn btn-danger"
    %>
  </div>
</div>
