<div class="mt-3">
  <%= link_to cars_path, class: "btn btn-ghost" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>

<div class="container mt-5">
  <h1 class="mb-3"><strong><%= @car.model %></strong></h1>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="row">
    <div class="col-md-8">
      <% if @car.picture.attached? %>
        <div class="mb-3 h-100">
          <%= image_tag @car.picture, class: "img-fluid rounded w-100 h-100 shadow-sm" %>
        </div>
      <% end %>
    </div>

  <div class="col-md-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h3 class="text-center"><strong>Details</strong></h3>
      <p><i class="fa-solid fa-car-side"></i> <%= @car.model %></p>
      <p><i class="fa-regular fa-calendar-days"></i> <%= @car.year %></p>
      <p><i class="fa-solid fa-palette"></i> <%= @car.color %></p>
      <p><i class="fa-solid fa-layer-group"></i> <%= @car.category %></p>
      <p><i class="fa-solid fa-location-dot"></i> <%= @car.location %></p>
      <p><i class="fa-solid fa-gas-pump"></i> <%= @car.fuel %></p>
      <p><i class="fa-solid fa-person"></i> <%= @car.number_of_seats %> seats </p>
      <p><i class="fa-solid fa-user"></i> <%= @car.user.email %></p>
      <p><i class="fa-solid fa-file-lines"></i> <%= @car.description %></p>
    </div>
  </div>
</div>

  <div class="row mt-3">
    <div class="col-md-8 text-center">
      <h3 class="text-center"><strong><i class="fa-solid fa-dollar-sign"></i> / day</strong></h3>
      <p>$<%= @car.price_day %></p>
    </div>

    <div class="col-md-4">
      <%= link_to 'Make a reservation', new_car_rental_path(@car.id), class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
